:root {
    /* Paleta KÖSA */
    --color-primary: #1A1A1A;
    /* Texto principal, Logo */
    --color-secondary: #F5F5DC;
    /* Beige Crema (Fondos suaves) */
    --color-accent: #A0522D;
    /* Siena Quemado (Botones, Links activos) */
    --color-grey: #D1D1D1;
    /* Gris apoyo (Bordes) */
    --color-white: #FFFFFF;
    /* Blanco para tarjetas */

    /* Tipografía */
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    /* Fondo Beige Crema */
    color: var(--color-primary);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}